<div id="flash-messages" class="fixed top-4 mt-3">
  <% flash.each do |type, message| %>
    <% bg_color = case type.to_sym
                 when :notice then "bg-green-200 text-green-800"
                 when :alert  then "bg-yellow-200 text-yellow-800"
                 when :error  then "bg-red-200 text-red-800"
                 else "bg-blue-200 text-blue-800"
                 end %>

    <div class="<%= bg_color %> px-4 py-2 rounded shadow" role="alert">
      <span class="<%= bg_color %> h3">
        <%= message %>
      </span>
    </div>
  <% end %>
</div>
